<meta charset="utf-8" />
<title><%-title %> | Sasuke - レスポンシブ管理ダッシュボードテンプレート</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="CRM、CMS等の構築に使用できる多機能管理テーマ"/>
<meta name="author" content="Sasuke"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- App favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">